<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-font="Roboto|https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <title>{{ meta.name }}</title>
    <meta name="description" content="{{ meta.descriptions }}">
    <link rel='favicon' href='favicon.ico' />

    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
        }
        .container {
            margin: 0px auto;
            max-width: 1140px;
        }
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div id='app'></div>
</body>
</html>
